name: DevSecOps Example Workflows

on:
    workflow_dispatch:
        inputs:
            gitleaks:
                description: gitleaks
                type: boolean
                default: false
                required: true
            trufflehog:
                description: trufflehog
                type: boolean
                default: false
                required: true
            semgrep:
                description: semgrep
                type: boolean
                default: false
                required: true

jobs:
    secrets_scan:
        name: secrets_scan
        if: inputs.gitleaks || inputs.trufflehog
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v5
          with:
            fetch-depth: 0

        - uses: gitleaks/gitleaks-action@v2
          if: inputs.gitleaks
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        - uses: trufflesecurity/trufflehog@main
          if: always() && inputs.trufflehog
          with:
            extra_args: --results=verified,unknown

    sast:
        name: semgrep
        if: inputs.semgrep
        runs-on: ubuntu-latest
        container: semgrep/semgrep:latest
        steps:
        - uses: actions/checkout@v5
          with:
            fetch-depth: 0
                    
        - run: |
            semgrep --version
            semgrep scan --config=auto . --sarif . > semgrep-results.sarif

        - uses: actions/upload-artifact@v5
          with:
            name: semgrep-results.sarif
            path: semgrep-results.sarif
