name: DevSecOps Example Workflows

on:
    workflow_dispatch:
        inputs:
            node-version:
                description: Node.js version
                type: choice
                default: '22'
                required: true
                options:
                  - '18'
                  - '20'
                  - '22'
            dc-version:
                description: OWASP Dependency Check version
                default: '12.1.9'
                required: true
            gitleaks:
                description: gitleaks
                type: boolean
                default: false
                required: true
            trufflehog:
                description: trufflehog
                type: boolean
                default: false
                required: true
            semgrep:
                description: semgrep
                type: boolean
                default: false
                required: true
            sbom:
                description: sbom
                type: boolean
                default: false
                required: true
            owasp-depcheck:
                description: owasp-depcheck
                type: boolean
                default: false
                required: true                
            trivy:
                description: trivy
                type: boolean
                default: false
                required: true

permissions:
  actions: write
  packages: write
  contents: read

env:
  GITHUB_DOCKER_REGISTRY: 'ghcr.io/bumeranghc'

jobs:
    secrets_scan:
        name: secrets_scan
        if: inputs.gitleaks || inputs.trufflehog
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v5
          with:
            fetch-depth: 0

        - uses: gitleaks/gitleaks-action@v2
          if: inputs.gitleaks
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        - uses: trufflesecurity/trufflehog@main
          if: always() && inputs.trufflehog
          with:
            extra_args: --results=verified,unknown

    sast:
        name: semgrep
        if: inputs.semgrep
        runs-on: ubuntu-latest
        container: semgrep/semgrep:latest
        steps:
        - uses: actions/checkout@v5
          with:
            fetch-depth: 0
                    
        - run: |
            semgrep --version
            semgrep scan --config=auto . --sarif . > semgrep-results.sarif

        - uses: actions/upload-artifact@v5
          with:
            name: semgrep-results.sarif
            path: semgrep-results.sarif

    sbom:
        name: sbom
        if: inputs.sbom
        runs-on: ubuntu-latest
        container: "node:${{ inputs.node-version }}"
        steps:
        - uses: actions/checkout@v5
          with:
            fetch-depth: 0
        
        - name: Generate SBOM and install dependencies
          run: |
            npm --version
            node --version
            npm install --package-lock-only --ignore-scripts --no-audit
            npm install -g @cyclonedx/cyclonedx-npm
            cyclonedx-npm --package-lock-only -o sbom-packages.cdx.json
            npm ci

        - name: Run Trivy vulnerability scanner in repo mode
          if: inputs.trivy
          uses: aquasecurity/trivy-action@0.33.1
          with:
            scan-type: 'fs'
            ignore-unfixed: true
            format: 'sarif'
            output: 'trivy-results.sarif'
            severity: 'CRITICAL'

        - uses: actions/upload-artifact@v5
          with:
            name: sbom-packages.cdx.json
            path: sbom-packages.cdx.json

        - uses: actions/upload-artifact@v5
          with:
            name: trivy-results.sarif
            path: trivy-results.sarif

    owasp_depcheck:
        name: owasp_depcheck
        if: inputs.owasp-depcheck
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v5
          with:
            fetch-depth: 0
        
        - uses: actions/setup-node@v6
          with:
            node-version: "${{ inputs.node-version }}"
     
        - name: Install dependencies
          run: |
            npm --version
            node --version
            npm install --package-lock-only --ignore-scripts --no-audit
            npm ci
        
        - name: Build project
          run: |
            npm run package:ci
        
        - name: Run OWASP Dependency Check
          run: |
            DC_DIRECTORY="$(pwd)"
            DC_PROJECT="dependency-check scan: $(pwd)"
            DATA_DIRECTORY="$DC_DIRECTORY/owasp-data"
            CACHE_DIRECTORY="$DC_DIRECTORY/owasp-data/cache"
            REPORTS_DIRECTORY="$DC_DIRECTORY/odc-reports"
            mkdir -p "$DATA_DIRECTORY" "$CACHE_DIRECTORY" "$REPORTS_DIRECTORY"           
            docker pull owasp/dependency-check:${{ inputs.dc-version}}
            docker run --rm \
                -e user=$USER \
                -u $(id -u ${USER}):$(id -g ${USER}) \
                --volume "$DC_DIRECTORY":/src:z \
                --volume "$DATA_DIRECTORY":/usr/share/dependency-check/data:z \
                --volume "$REPORTS_DIRECTORYs:/report:z \
                owasp/dependency-check:$DC_VERSION \
                --scan /src \
                --format "HTML" \
                --project "$DC_PROJECT" \
                --out /report
        
        - uses: actions/upload-artifact@v5
          with:
            name: owasp-depcheck-report
            path: odc-reports

    docker_build_and_push:
        name: docker_build_and_push
        runs-on: ubuntu-latest            
        steps:
            - uses: actions/checkout@v5
              with:
                fetch-depth: 0

            - name: Login to GitHUb
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: select docker driver
              run: |
                docker buildx create --use --driver=docker-container

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                images: bumeranghc/juicy-shop

            - name: Lowercase container registry
              id: github_container_registry
              run: |
                echo "repository=${GITHUB_DOCKER_REGISTRY,,}" >>${GITHUB_OUTPUT}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                context: ${{github.workspace}}
                file: Dockerfile
                push: true
                tags: ${{steps.github_container_registry.outputs.repository}}/juicy-shop:${{ github.run_number }}
                cache-from: type=gha
                cache-to: type=gha,mode=max
                labels: ${{steps.meta.outputs.labels}}
